body{
    background-color: $secondary-text;
    color: $headlines-colour;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

:root {
    --headlines-colour: #212121;
    --text-colour: #757575;
    --accent-colour: #2196F3;
    --secondary-text: #FFFFFF;
}

.section {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
      }
     
      &.no-padding {
        padding-top: 0;
        padding-bottom: 94px;
      }
}

a {
    text-decoration: none;
    }

h2 {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

h1, h2, h3, p{
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

*, ::after, ::before{
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: space-between;
/* //   & .btn-open {
//     border: none;
//     background-color: $secondary-text;
//     @media screen and (min-width: 768px) {
//       display: none;
//       }  
//       .header-container:hover svg {
//         fill: $accent-colour
//       }
//   } */
}

.nav-container {
    @extend %flex;
}

.nav-header {
  display: flex;
}

.nav-container__accent {
  color: var(--accent-colour);
}
.nav-container__logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  cursor: pointer;
  margin: 16px 70px;
  /* @media screen and (min-width: 480px) { 
    margin-right: auto;
  }
  @media screen and (min-width: 768px) { 
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) { 
    margin-right: 93px;
  } */
} 

.site-nav {
      display: flex;
      align-items: center;
    margin: 0 auto;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  color: var(--headlines-colour);
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__bottom-line:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-colour);
  border-radius: 2px;
  margin-bottom: -2px;
} 

.nav-link {
  display: inline-block;
  padding: 31.5px 0;
  
}

.nav-link:hover, 
  .nav-link:focus {
      color: var(--accent-colour);
      cursor: pointer;
  }

.nav-link.site-nav__current  {
  color: var(--accent-colour)
  cursor: pointer;
}

.contact-nav {
  list-style: none;
  padding: 0;
  margin: auto 0;
  text-align: center;
}

.contact-nav:hover, 
.contact-nav:focus {
      color: var(--accent-colour);
      cursor: pointer;
  }

.contact-nav a {
  color: var(--text-colour);
  font-weight: 500px;
  font-size: 12px;
  letter-spacing: 1.14;
  letter-spacing: 0.02em;
}

.languages {
  font-size: 12px;
  margin: auto 0;
  text-align: center;
}

/* Балкони */

.balkon-title {
  font-size: 50px;
  margin: 50px auto;
  text-align: center;
}

.balkon-types {
  display: flex;
  justify-content: center;
}

.balkon-type {
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  font-style: italic;
  text-align: center;
}

.balkon-type img {
  margin-top: 20px;
}

.balkon-backbutton {
  display: inline-block;
  color: var(--accent-colour);
  margin: 15px 40px;
}

.balcon-france-description {
  margin: 15px;
  text-align: justify;
}

.balcon-france-description_name {
  font-style: italic;
}

.balkon-description_width {
  margin-right: 100px;
}