.section {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
      }
     
      &.no-padding {
        padding-top: 0;
        padding-bottom: 94px;
      }
}

a {
    text-decoration: none;
    }

h2 {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}